<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
</head>
<body>
<div class="container">
  <div class="body">
      <div id="listQuiz"></div>
      <div class="container mt-5" id="list-question">
          <div class="d-flex justify-content-center row">
              <div class="col-md-10 col-lg-10">
                  <div class="border" id="mainQuestion">

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
<script>

</script>

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/quiz",
            method: "GET",
            success: function (quizs) {
                console.log(quizs)
                let html = ``;
                quizs.forEach((quiz) => {
                    html += `<button onclick="showQuestion(${quiz.id})">${quiz.quizName}</button>`
                })
                document.getElementById("listQuiz").innerHTML = html
            },
            error: function () {
                console.log("Lỗi khi lấy lịch sử tin nhắn");
            }
        });
    })
    function showQuestion(id) {
        const listQuiz = document.getElementById("listQuiz");

        listQuiz.style.display = "none";
        console.log(id)
        $.ajax({
            url: "/api/question/findAll",
            method: "GET",
            data: {
                id: id
            },
            success: function (questions) {
                console.log(questions)

                let html = ``;
                questions.forEach((question, index) => {
                    let htmlAnswer = ``;
                    question.answers.forEach((answer) => {
                        htmlAnswer += `
                            <th:if></th:if>
                        <div class="ans ml-2">
                              <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>${answer.title}</span>
                              </label>
                        </div>
                    `
                    })
                    html += `
                        <div class="question bg-white p-3 border-bottom">
                          <div class="d-flex flex-row justify-content-between align-items-center mcq">
                              <h4>MCQ Quiz</h4><span>(${index + 1} of ${questions.length})</span></div>
                      </div>
                      <div class="question bg-white p-3 border-bottom">
                          <div class="d-flex flex-row align-items-center question-title">
                              <h3 class="text-danger">Q.</h3>
                              <h5 class="mt-1 ml-2" >${question.title}</h5>

                          </div>

                          ${htmlAnswer}
                      </div>
                      <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        <button class="btn btn-primary d-flex align-items-center btn-danger" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button>
                        <button class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button>
                      </div>
                    `
                })

                console.log(html)
                document.getElementById("mainQuestion").innerHTML = html
            },
            error: function () {
                console.log("Lỗi khi lấy lịch sử tin nhắn");
            }
        });

    }
//     let currentQuestionIndex = 0;
//     function nextQuestion(id) {
//         currentQuestionIndex++;
//         showQuestion(id);
//     }
//
//     function previousQuestion(id) {
//         currentQuestionIndex--;
//         showQuestion(id);
//     }
//     function showQuestion(id) {
//         const listQuiz = document.getElementById("listQuiz");
//         listQuiz.style.display = "none";
//
//         $.ajax({
//             url: "/api/question/findAll",
//             method: "GET",
//             data: {
//                 id: id
//             },
//             success: function (questions) {
//                 // Kiểm tra xem currentQuestionIndex có vượt quá biên giới hạn của mảng questions không
//                 if (currentQuestionIndex >= 0 && currentQuestionIndex < questions.length) {
//                     const question = questions[currentQuestionIndex];
//
//                     let htmlAnswer = ``;
//                     question.answers.forEach((answer) => {
//                         htmlAnswer += `
//                         <div class="ans ml-2">
//                             <label class="radio">
//                                 <input type="radio" name="answer" value="${answer.id}">
//                                 <span>${answer.title}</span>
//                             </label>
//                         </div>
//                     `;
//                     });
//
//                     const html = `
//
//                     <div class="question bg-white p-3 border-bottom">
//                         <!-- ... -->
//                     </div>
//                     <div class="question bg-white p-3 border-bottom">
//                         <!-- ... -->
//                         ${htmlAnswer}
//                     </div>
//                     <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
//                     <button class="btn btn-primary d-flex align-items-center btn-danger" type="button" onclick="previousQuestion()">Previous</button>
//                     <button class="btn btn-primary border-success align-items-center btn-success" type="button" onclick="nextQuestion()">Next</button>
//                     </div>
//                     `
//
//                 document.getElementById("mainQuestion").innerHTML = html;
//             }
//         },
//         error: function () {
//             console.log("Lỗi khi lấy lịch sử tin nhắn");
//         }
//     });
//
// }



</script>
</html>